name: Promote Dev to ITG
on:
  workflow_dispatch:
 
jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Force Sync
        run: |
          git config --global user.name "Bobby-Automation"
          git config --global user.email "bobby.gundala@hp.com"
          git fetch origin dev
          git fetch origin ITG
          git checkout ITG
          git reset --hard origin/dev
          git push origin ITG --force